input {
    background-color: #252525;
    border: 1px solid #191919;
    color: white;
}

input:focus {
    outline: none;
    /* border-color: #FF6600; */
    /* border-color: #80c1c7; */
}

button {
    background-color: #252525;
    border: none;
    height: 30px;
    width: 60px;
    border-radius: 2px;
}

button:hover {
    background-color: #272727;
}

button:active {
    background-color: #292929;
}

#questionAnswer {
    height: 26px;
    font-size: 18px;
    text-align: center;
}

#lessonTitle {
    font-size: 24px;
}

/* .submitAnswer {
    background-color: #5dfa5d;
} */