#questionAnswer {
    height: 26px;
    font-size: 18px;
    text-align: center;
}

#lessonTitle {
    font-size: 24px;
}

/* .submitAnswer {
    background-color: #5dfa5d;
} */

#nextButton {
    background-color: green;
}

#canvas {
    border: solid 2px #191919;

    width: 300px;
    height: 300px;
}

.progress-icon-wrapper {
    display: flex;
    align-items: center;
}

.progress-bar {
    height: 1.25rem;
    width: 12rem;
    border-radius: 1rem;

    background-color: #191919;
}

.progress-bar-inner {
    height: 100%;
    border-radius: 1rem;

    background-color: #FF9d9d;
    float: left;
}

.circle {
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem;
}

.circle-green {
    background-color: #29B966;
}

.circle-red {
    background-color: #FF4548;
}

.flex-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NEW */
body {
    display: grid;
    grid-template-columns:  auto;               /* Width */
    grid-template-rows:     100px auto 100px;   /* Height */
    grid-template-areas: 
        "header"
        "main"
        "nav"
    ;

    height: 100vh;
}

header {
    grid-area: header;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #090909;
}

main {
    grid-area: main;

    display: flex;

    justify-content: center;
    align-items: center; 
    margin: 1rem;

    flex-direction: column;
}

nav {
    grid-area: nav;

    display: flex;

    background-color: #090909;
    /* Implement ListItem based navbar like in musicplayer app*/
}