#questionAnswer {
    height: 26px;
    font-size: 18px;
    text-align: center;
}

#lessonTitle {
    font-size: 24px;
}

/* .submitAnswer {
    background-color: #5dfa5d;
} */

#nextButton {
    background-color: green;
}

#canvas {
    border: solid 2px #191919;

    width: 300px;
    height: 300px;
}